@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

:root {
    --c--main: 31, 41, 55;
    --c--secondary: 56, 130, 246;
    --c--white: 249, 250, 248;
    --c--gray: 229, 231, 235;

    --font-size--h1: 3rem; /*48px*/
    --font-size--h2: 2.25rem; /*36px*/
    --font-size--h3: 2.0rem; /*32px*/
    --font-size--h4: 1.5rem; /*24px*/
    --font-size--h5: 1.125rem; /*18px*/
    --font-size--p: 1rem;
    --font-weight--bold: 700;
    --font-weight--extra-bold: 900;

    --margin--section--top-bottom: 2rem;
    --margin--section--side: 10%;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: var(--font-size--p);
    overflow-x: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
button {
    box-shadow: none;
    border: none;
}
h1 {
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--h1);
}
h2 {
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--h2);
}
h3 {
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--h3);
}
h4 {
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--h4);
}
h5 {
    font-weight: var(--font-weight--bold);
    font-size: var(--font-size--h5);
}

/* global */
header, main, footer {
    width: 100%;
    height: fit-content;
}
.section--row {
    width: 100%;
    padding: var(--margin--section--top-bottom) var(--margin--section--side);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.section--col {
    width: 100%;
    padding: var(--margin--section--top-bottom) var(--margin--section--side);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}
.text--chunk {
    display: inline-block;
}
.text--br {
    display: block;
}
.button--round {
    width: fit-content;
    padding: calc(var(--font-size--h5) / 2) var(--font-size--h5);
    border-radius: 5px;
    font-size: var(--font-size--h5);
    line-height: var(--font-size--h5);
}

/* header */
.header-ctr {
    position: fixed;
    width: 100%;
    height: calc(var(--font-size--p) * 3 + var(--font-size--h3));
    padding: var(--font-size--p) var(--margin--section--side);
    background-color: rgb(var(--c--main));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(var(--c--white));
}
.header__logo {
    font-size: var(--font-size--h4);
    font-weight: var(--font-weight--bold);
    text-transform: capitalize;
    white-space: nowrap;
}
.header__nav {
    width: fit-content;
    display: flex;
}
.header__nav__link {
    margin-left: var(--font-size--p);
    color: rgb(var(--c--gray));
    white-space: nowrap;
}
.header__nav__link:nth-child(1) {
    margin-left: 0;
}
.section--hero {
    flex-wrap: wrap-reverse;
    justify-content: center;
    padding-top: calc(var(--font-size--p) * 3 + var(--font-size--h3) + var(--margin--section--top-bottom));
    background-color: rgb(var(--c--main));
    color: rgb(var(--c--white));
}
.section--hero > * {
    padding: 10px;
}
.hero__text__ctr {
    width: 50%;
    min-width: 15rem;
    display: flex;
    flex-direction: column;
}
.hero__text__ctr > * {
    margin: 10px 0;
}
.hero__text--main {
    font-weight: var(--font-weight--extra-bold);
}
.hero__text--main::first-letter {
    text-transform: capitalize;
}
.hero__text--secondary {
    color: rgb(var(--c--gray));
}
.hero__button {
    background-color: rgb(var(--c--secondary));
    color: rgb(var(--c--white));
    font-weight: var(--font-weight--bold);
}
.hero__img {
    width: 50%;
    min-width: 15rem;
    display: block;
}

/* main */
.section--info {
    background-color: rgb(var(--c--white));
    color: rgb(var(--c--main));
    justify-content: center;
    align-items: flex-start;
}
.section__header {
    width: 100%;
    text-align: center;
    font-weight: var(--font-weight--extra-bold);
}
.info__ctr {
    width: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.info__ctr > * {
    margin: 10px 0;
}
.info__img {
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border: 3px solid rgb(var(--c--secondary));
    border-radius: 10px;
}
.info__text {
    width: 100%;
}
/* footer */
footer {
    background-color: rgb(var(--c--main));
    color: rgb(var(--c--white))
}
.copyright {
    padding: var(--font-size--p);
    text-align: center;
}