@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --c--main: 31, 41, 55;
    --c--secondary: 56, 130, 246;
    --c--white: 255, 255, 255;
    --c--gray: 228, 231, 235;
    --font-size--h1: 3rem; /*48px*/
    --font-size--h2: 2.25rem; /*36px*/
    --font-size--h3: 2.0rem; /*32px*/
    --font-size--h4: 1.5rem; /*24px*/
    --font-size--h5: 1.125rem; /*18px*/
    --font-size--p: 1rem;
    --margin--section--top-bottom: 2rem;
    --margin--section--side: 10%;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}

/* global */
header, main, footer {
    width: 100%;
    height: fit-content;
}
.section--row {
    width: 100%;
    padding: var(--margin--section--top-bottom) var(--margin--section--side);
    display: flex;
    align-items: center;
}
.section--row {
    width: 100%;
    padding: var(--margin--section--top-bottom) var(--margin--section--side);
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* header */
.header-ctr {
    position: fixed;
    width: 100%;
    padding: var(--font-size--p) var(--margin--section--side);
    background-color: rgb(var(--c--main));
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: rgb(var(--c--white));
}
.header__logo {
    font-size: var(--font-size--h4);
    text-transform: capitalize;
    white-space: nowrap;
}
.header__nav {
    width: fit-content;
    display: flex;
}
.header__nav__link {
    margin-left: var(--font-size--p);
    white-space: nowrap;
}
.header__nav__link:nth-child(1) {
    margin-left: 0;
}
/* main */

/* footer */
footer {
    background-color: rgb(var(--c--main));
    color: rgb(var(--c--white))
}
.copyright {
    padding: var(--font-size--p);
    text-align: center;
}