@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

:root {
    --c--main: 31, 41, 55;
    --c--secondary: 56, 130, 246;
    --c--white: 255, 255, 255;
    --c--gray: 228, 231, 235;
    --font-size--h1: 3rem; /*48px*/
    --font-size--h2: 2.25rem; /*36px*/
    --font-size--h3: 2.0rem; /*32px*/
    --font-size--h4: 1.5rem; /*24px*/
    --font-size--h5: 1.125rem; /*18px*/
    --font-size--p: 1rem;
    --margin--section-top: 2rem;
    --margin--section-side: 10%;
}
/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height:fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Slab', serif;
    overflow: hidden;
}
ul, a {
    text-decoration: none;
}

/* global */
.section--row {
    width: 100%;
    display: flex;
    align-items: center;
}
.section--row {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* header */
.header-ctr {

}
/* main */

/* footer */